@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/LayoutAccount/_LayoutLogin.cshtml";
}

<section id="body">
    <div class="container-fluid d-flex justify-content-center">
        <div class="content_wrap">
            <div class="form-wrapper" id="form-wrapper">
                <!-- Form Quên mật khẩu -->
                <div class="form-container" id="forgot-password-form">
                    <h3 class="content_login-name">
                        <i class="fa-solid fa-building-user me-1"></i> 113 Cô Giang
                    </h3>
                    <div class="content_login-body">
                        <div class="login_body-title">
                            <h2 class="body_login">Quên mật khẩu</h2>
                        </div>

                        <!-- Bắt buộc thêm tag helper cho form -->
                        <form method="post" asp-page-handler="">
                            @* Hiển thị lỗi model nếu có *@
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="mb-3">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="body_form-input form-control" type="email" placeholder="Nhập email..." autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="body_form-buttons">
                                <button type="submit" class="body_form-button">Lấy lại mật khẩu</button>
                            </div>

                            <div class="body_form-functions mt-2">
                                <a class="body_form-function" asp-page="./Login">← Trở về đăng nhập</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}