@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/LayoutAccount/_LayoutLogin.cshtml";
}

<section id="body">
    <div class="container-fluid d-flex justify-content-center">
        <div class="content_wrap">
            <div class="form-wrapper" id="form-wrapper">
                <!-- Form Reset Password -->
                <div class="form-container" id="reset-password-form">
                    <h3 class="content_login-name">
                        <i class="fa-solid fa-building-user me-1"></i> 113 Cô Giang
                    </h3>
                    <div class="content_login-body">
                        <div class="login_body-title">
                            <h2 class="body_login">Khôi phục mật khẩu</h2>
                        </div>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3">
                                <input asp-for="Input.Email" class="form-control" readonly />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <input asp-for="Input.Password" class="form-control" placeholder="Mật khẩu mới..." />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu..." />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <input asp-for="Input.Code" class="form-control" placeholder="Mã xác thực từ email..." />
                                <span asp-validation-for="Input.Code" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-dark w-100">Khôi phục</button>

                            <div class="text-center mt-2">
                                <a asp-page="./Login">Trở về đăng nhập</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
