@model DoAn_LTWeb.Models.DieuKhoan
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/profile.css" asp-append-version="true">
<link rel="stylesheet" href="/css/main.css" asp-append-version="true">
<link rel="stylesheet" href="/css/user.css" asp-append-version="true">
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="/fonts/fontawesome-free-6.5.1-web/css/all.css" asp-append-version="true">

@using (Html.BeginForm("DeleteConfirmed", "DieuKhoan", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.MaDieuKhoan" />
    <input type="hidden" name="delete" value="true" />

    <div class="alert alert-warning">
        <h4 class="text-danger">⚠ Cảnh báo</h4>
        <p>Bạn có chắc chắn muốn xóa điều khoản có nội dung <strong>"@Model.NoiDung"</strong> không?</p>
    </div>

    <button type="submit" class="btn btn-danger" onclick="return confirmDelete();">
        <i class="fa fa-trash"></i> Xóa
    </button>
    <a asp-action="IndexAdmin" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i> Hủy
    </a>
}

<script>
    function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa điều khoản này?");
    }
</script>
