@model DoAn_LTWeb.Models.HopDong
@{
    Layout = "/Views/Shared/_LayoutUser.cshtml";
    var dieuKhoanList = ViewBag.DieuKhoan as List<DoAn_LTWeb.Models.DieuKhoan>;
    int halfCount = (dieuKhoanList != null) ? (int)Math.Ceiling(dieuKhoanList.Count / 2.0) : 0;
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true">
<link rel="stylesheet" href="~/fonts/fontawesome-free-6.5.1-web/css/all.css" asp-append-version="true">

<div style="height: 50px; display: inline-block; padding: 0 12px;" class="row mb-3">
    <h4 class="content_info-title">📜 Terms of HutechAccmodation</h4>
</div>

<div style="height: 350px" class="row mt-3">
    <div style="height: 350px" class="col-md-6">
        <ul class="list-group">
            @for (int i = 0; i < halfCount; i++)
            {
                <li class="list-group-item">@dieuKhoanList[i].NoiDung</li>
            }
        </ul>
    </div>

    <div style="height: 350px" class="col-md-6">
        <ul class="list-group">
            @for (int i = halfCount; i < dieuKhoanList.Count; i++)
            {
                <li class="list-group-item">@dieuKhoanList[i].NoiDung</li>
            }
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a style="background-color: #000; opacity: 0.8; border-radius: 20px; padding: 8px 16px; text-decoration: none; color: white" class=" mt-3"
           asp-area="Admin"
           asp-controller="ChiTietThuePhong"
           asp-action="Index"
           asp-route-maHopDong="@ViewBag.MaHopDong">Đồng ý</a>
    </div>
</div>



