@model DoAn_LTWeb.Models.NhaTro
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Nhà Trọ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="~/css/Add_Home.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/style_Admin_2.css" asp-append-version="true">

<form class="form-1" asp-action="Add" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="TenNhaTro">Số nhà trọ</label>
        <input asp-for="TenNhaTro" class="form-control" placeholder="Hutech..."/>
        <span asp-validation-for="TenNhaTro" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiaChi">Địa chỉ</label>
        <textarea asp-for="DiaChi" class="form-control" placeholder="Ho Chi Minh..."></textarea>
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Hình ảnh</label>
        <input type="file" id="imageInput1" name="imageUrl" class="form-control" />
    </div>

    <div class="row" style="max-height: 150px">
        <div class="col-6 hinhanh text-start">
            <h5>Current Image</h5>
            <img src="@Model.ImageUrl" alt="Product Image" style="max-width:100px; display:none;" id="imageInput1_preview" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Thêm</button>
</form>

<!-- Script xem trước ảnh -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function previewImage(inputId, previewId) {
            document.getElementById(inputId).addEventListener("change", function (event)    {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById(previewId).src = e.target.result;
                        document.getElementById(previewId).style.display = "block";
                    };
                    reader.readAsDataURL(file);
                }
            });
        }

        previewImage("imageInput1", "imageInput1_preview");
    });
</script>

<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>